astroid==2.5.7
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.4   
Django==3.2.3     
idna==3.2
isort==5.8.0     
lazy-object-proxy==1.6.0
mccabe==0.6.1
pylint==2.8.3
pytz==2021.1
requests==2.2.0
six==1.16.0
sqlparse==0.4.2
typed-ast==1.4.3
urllib3==1.26.5
wrapt==1.112.1
